
<div class="grid-container">
  <h1 class="mat-h1">Дамашня група - {{ dataSource.name }}</h1>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card>
        <mat-selection-list [compareWith]="compareFn" [(ngModel)]="dataSource.people" (selectionChange)="selectionChange($event)" #shoes>
          <mat-list-option  [value]="p" *ngFor="let p of person">
            {{p.firstName + " " + p.lastName}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card class="weekForm">
          <mat-card-content>
            <mat-form-field>
              <input matInput [(ngModel)]="model" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-button color="primary" (click)="createWeek()">Створити</button>
            <button mat-button color="primary" (click)="send()">Розіслати</button>
          </mat-card-content>  
        </mat-card>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of dataSource.groupSession;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ item.date }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-selection-list [compareWith]="compareFn" [(ngModel)]="item.persons" (selectionChange)="selectionChangeWeek($event , item.id)">
              <mat-list-option [value]="p" *ngFor="let p of person">
                {{p.firstName + " " + p.lastName}}
              </mat-list-option>
            </mat-selection-list>
            <button color="warn" (click)="delete(item.id)" mat-button>Видалити</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
