<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Family of grace</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/dashboard">Головна сторінка</a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/persons">Люди</a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/mailing">Розсилка</a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/homegroup">Домашня група</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Family of grace</span>
      <div class="flex-spacer spacer"></div>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">Вийти</button>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
