<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Admin Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="Login">
                <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="model.email" required placeholder="Email Address">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="model.password" required  placeholder="Password">
                </div>
                <button type="button" (click)="login()" class="btn btn-primary">Login</button>
            </form>
        </div>
        <p class="botto-text"> Designed by Sunil Rajput</p>
    </div>
</div>
