<div class="grid-container">
  <h1 class="mat-h1">Розсилка - {{ model.name }}</h1>
  <mat-card class="example-card mailing">

    <form class="form-horizontal">
      <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Назва розсилки</label>  
          <div class="col-md-4">
            <input id="name" name="name" type="text" placeholder="Назва розсилки" [(ngModel)]="model.name" class="form-control input-md"> 
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea">Текст повідомлення</label>
          <div class="col-md-4">                     
            <textarea rows="10" class="form-control" id="textarea" [(ngModel)]="model.content" name="textarea"></textarea>
          </div>
        </div>

      
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Люди" [compareWith]="compareFn" [(ngModel)]="model.persons" [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.firstName + " " + topping.lastName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        
      </fieldset>
      <div class="form-group">
        <div class="col-md-8">
          <button (click)="save()" class="btn btn-success">Зберегти</button>
          <button (click)="send()" class="btn  btn-info">Почати розсилку</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
